.inputGroup {
    position: relative;
    img:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }
    input {
        padding-left: 52px;
    }
}
